# Environment Variables
.env

# Python Virtual Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Cloned Data
repo/

# IDE & OS Files
.DS_Store
.idea/
.vscode/

# Temp Files
*.txt
!requirements.txt

# Generated Outputs and Logs
outputs/
logs/
